* {
  margin: 0;
  padding: 0;
}

.p5-holder{
	height: 100px;
}

header{
	padding-top: 40px;
}


main{
	position: relative;
	top: 70vh;
	height: 70vh;
	padding: 0;
	z-index: 10;
}


#name{
	font-family: 'Josefin Sans', sans-serif; 
	font-size: 30px;
	color: #42C3D1;
	z-index: 10;
}


.nav-link{
	font-family: 'Titillium Web', sans-serif;
}

.navbar-toggler{
	border-width: 0px;
}

.navbar-nav li{
	padding-left:20px;
	padding-right:20px;
}

.project-container{
    background-color: "white";
    text-align: center;
}

.project-title{
	color: 'white';
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
 	transform: translate(-50%, -50%);
 	font-family: 'Titillium Web', sans-serif;
 	font-size: 40px;
	opacity: 0;
	color: white;
	transition: all 0.3s ease-in-out;
	z-index: 20;
}

.time{
	font-size: 16px;
}


#hero{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
	background-color: white;
}



#description-short{
	font-family: 'Titillium Web', sans-serif;
	color: black;
	font-weight: 400;
	z-index: 20;
	opacity: 0;
	animation: upward 0.8s 0.2s ease forwards;
}

#description-long{
	font-family: 'Titillium Web', sans-serif;
	color: black;
	font-weight: 200;
	z-index: 20;
	opacity: 0;
	animation: upward 0.8s 0.8s ease forwards;
}

#banner{
	position: relative;
	padding-top: 30vh;
}

#chinese{
	font-size:30px;
}

#passion{
	font-size: 20px;
	opacity: 0;
	animation: upward 0.8s 1.6s ease forwards;
}

#HCI{
	color: #42C3D1;
}

#product-design{
	color: #42C3D1;
}


@keyframes upward{
	from{transform: translateY(20px); opacity: 0;}
	to{transoform: translateY(0px); opacity:1;}
}

footer{
	top: 80vh;
	font-family: 'Titillium Web', sans-serif;
	color: gray;
	height: 200px;

}


.cover-img{
	filter: brightness(1);
	transition: all 0.3s ease-in-out;
	object-fit: contain;

}

